<%- include('../blocks/head', { title: 'Comments' }) -%>
<%- include('../blocks/startbody') -%>
<%- include('../blocks/menu') -%>

<%- include('../blocks/startbreadcrumbs') -%>

<% var videoId = video ? video.id : null; %>
<% var returnUrl = self.url('comments', { page: page, video: videoId }); %>

<% if (video) { %>
    <a href="<%= self.url('videos') %>" class="section">Videos</a>
    <i class="right angle icon divider"></i>
    <a href="<%= self.url('videos/:id/edit', {':id': video.id }) %>" class="section">Video #<%= video.id %></a>
    <i class="right angle icon divider"></i>
<% } %>
<div class="active section">Comments</div>
<%- include('../blocks/endbreadcrumbs') -%>

<%- include('../blocks/messages') -%>

<div class="ui container">
    <div class="ui comments">
        <% rows.forEach(item => { %>
            <div class="comment">
                <a class="avatar">
                    <img src="<%= self.asset('images/logo.png') %>">
                </a>
                <div class="content">
                    <a class="author"><%= item.name %></a>
                    <div class="metadata">
                        <span class="date"><%= item.createdAt.toLocaleString() %></span>
                    </div>
                    <div class="text"><%= item.message %></div>
                    <div class="actions">
                        <a class="delete" href="<%= self.url('comments/:id/remove', { ':id': item.id, return: returnUrl }) %>">
                            <i class="remove icon"></i> <span>Remove</span>
                        </a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<div class="ui container right floated">
    <div class="ui right floated pagination menu">
        <%- include('../blocks/pagination', {
            url: 'authors',
            urlOptions: { video: videoId },
            page: page,
            count: count,
            limit: limit
        }) -%>
    </div>
</div>

<%- include('../blocks/scripts') -%>
<%- include('../blocks/endbody') -%>
<%- include('../blocks/endhtml') -%>
