<%- include('../blocks/head', { title: 'Edit video' }) -%>
<%- include('../blocks/startbody') -%>
<%- include('../blocks/menu') -%>

<%- include('../blocks/startbreadcrumbs') -%>
<a href="<%= self.url('videos') %>" class="section">Videos</a>
<i class="right angle icon divider"></i>
<div class="active section">Edit video #<%= video.id %></div>
<%- include('../blocks/endbreadcrumbs') -%>

<%- include('../blocks/messages') -%>

<div class="ui container">
    <div class="ui segment">
        <form class="ui form" method="post" action="" enctype="application/x-www-form-urlencoded">
            <div class="required field">
                <label>Author:</label>
                <div class="ui search selection" data-search="author">
                    <div class="ui left icon input">
                        <input type="text" class="prompt" value="<%= video.author.name %>" placeholder="Search author..." required>
                        <input type="hidden" name="authorId" value="<%= video.author.id %>" required>
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div class="required field">
                <label>Category:</label>
                <div class="ui search selection" data-search="category">
                    <div class="ui left icon input">
                        <input type="text" class="prompt" value="<%= video.category.name %>" placeholder="Search category..." required>
                        <input type="hidden" name="categoryId" value="<%= video.category.id %>" required>
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <%
                    var tagsIds = [];
                    video.Tags.forEach(item => {
                        tagsIds.push(item.id);
                    });
                %>
                <label>Tags:</label>
                <div class="ui multiple search selection dropdown" data-search="tags">
                    <input type="hidden" name="tags" value="<%= tagsIds.join(',') %>">
                    <i class="dropdown icon"></i>
                    <input type="text" class="search">
                    <div class="default text">Select tags...</div>
                </div>
            </div>
            <div class="field">
                <label>Title:</label>
                <input type="text" name="title" placeholder="Video title" value="<%= video.title %>" required>
            </div>
            <div class="required field">
                <label>Status:</label>
                <select name="status" required>
                    <% ['pending', 'blocked', 'active'].forEach(item => { %>
                    <option value="<%= item %>" <% if (video.status === item) { %>selected<% } %>><%= item %></option>
                    <% }) %>
                </select>
            </div>
            <div class="field">
                <label>Description:</label>
                <textarea name="description" placeholder="Video description"><%= video.description %></textarea>
            </div>

            <button class="ui button" type="submit">Save</button>
        </form>
    </div>
</div>

<%- include('../blocks/scripts') -%>

<script>
    $('[data-search="author"]').search({
        apiSettings: {
            url: '<%= decodeURI(self.url('authors/search', { q: '{query}' })) %>'
        },
        fields: {
            results: 'items',
            title: 'name'
        },
        minCharacters: 1,
        onSelect: function (result) {
            $('[name="authorId"]').val(result.value);
        }
    });

    $('[data-search="category"]').search({
        apiSettings: {
            url: '<%= decodeURI(self.url('categories/search', { q: '{query}' })) %>'
        },
        fields: {
            results: 'items',
            title: 'name'
        },
        minCharacters: 1,
        onSelect: function (result) {
            $('[name="categoryId"]').val(result.value);
        }
    });

    var tags = false;
    <% if (video.Tags.length > 0) { %>
        tags = [];
        <% video.Tags.forEach(item => { %>
            tags.push({
                name: '<%= item.name %>',
                value: '<%= item.id %>',
                selected: true
            });
        <% }) %>
    <% } %>

    $('[data-search="tags"]').dropdown({
        apiSettings: {
            url: '<%= decodeURI(self.url('tags/search', { q: '{query}' })) %>'
        },
        fields: {
            remoteValues: 'items',
            values: 'values',
            name: 'name',
            value: 'value'
        },
        minCharacters: 0,
        values: tags
    });
</script>

<%- include('../blocks/endbody') -%>
<%- include('../blocks/endhtml') -%>
