<div class="ui container">
    <div class="ui error message <% if (messages && messages.error && messages.error.length > 0) { %>visible<% } else { %>hidden<% } %>">
        <%  if (messages && messages.error) { %>
            <% messages.error.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        <% } %>
    </div>
    <div class="ui success message <% if (messages && messages.success && messages.success.length > 0) { %>visible<% } else { %>hidden<% } %>">
        <%  if (messages && messages.success) { %>
            <% messages.success.forEach(function(message) { %>
                <p><%= message %></p>
            <% }); %>
        <% } %>
    </div>
</div>